body{
   /* background-color: #00796B; */
   background-image: url("https://wallpaperplay.com/walls/full/5/6/1/157832.jpg");
 }

 .container{
   color: black;
   margin-left: 200px;
   font-family: 'Playfair Display', serif;
   }

   .inp{
     background-color: white;
     background-size: cover;
     height: 400px;
     width: 400px;
     border-radius: 10px;
     box-shadow: 5px 5px #424242;
     float: left;
     margin-right: 80px;
     margin-bottom: 60px;
   }

   .con{
     background-color: #009688;
     border-radius: 10px;
     padding: 5px;
     font-family: sans-serif;
     width: 130px;
     margin: 10px;
     font-family: 'Playfair Display', serif;
     font-family: 'Abril Fatface', cursive;
     font-family: 'Bree Serif', serif;
    }

   .fom{
     margin-left: 20px;
     margin-top: 20px;

   }

   h1{
   font-family: 'Playfair Display', serif;
   font-family: 'Abril Fatface', cursive;
   }

   #A, #B, #C{
     border-radius: 5px;
     padding: 5px;
     box-shadow: 2px 2px #424242;
   }
   #C{
     margin-bottom: 20px;
   }

   .inst{
  font-family: sans-serif;
  font-size: 20px;
}

ol>li{
  padding: 5px;
}

@media screen and (max-width: 480px) {
  body {
    background-color: brown;
    color: white;
    }
    .con{
      background-color: brown;
    }
  }
