body{
  /* background-image: url('../images/background.jpg');
   */
   background-color: #00796B;
  /* height: 400px;
  width: 500px; */
}
.container{
  color: black;
  margin-left: 200px;
  font-family: 'Playfair Display', serif;
  /* width: 50%; */
  /* margin-left: 25px;
  margin-right: 25px; */
}
.inp{
  /* display: flex;
  align-items: left; */
  background-color: white;
  background-size: cover;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 5px 5px #424242;
  float: left;
  margin-right: 80px;
  margin-bottom: 60px;
}
.con{
  background-color: #009688;
  border-radius: 10px;
  padding: 5px;
  font-family: sans-serif;
  width: 130px;
  /* float: left;  */
}
.fom{
  margin-left: 20px;
  margin-top: 20px;

}
/* .put{
  margin: 5px;
  border-radius: 3px;
  padding: 10px; */
}
h1{
font-family: 'Playfair Display', serif;
font-family: 'Abril Fatface', cursive;
}
/* .flo {
  display: flex;
  justify-content: space-around;
} */
#A, #B, #C{
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px #424242;
}
#C{
  margin-bottom: 20px;
}
.inst{
  font-family: sans-serif;
}
ol>li{
  padding: 5px;
}
