body{
   background-color: #00796B;
 }

 .container{
   color: black;
   margin-left: 200px;
   font-family: 'Playfair Display', serif;
   }

   .inp{
     background-color: white;
     background-size: cover;
     height: 400px;
     width: 400px;
     border-radius: 10px;
     box-shadow: 5px 5px #424242;
     float: left;
     margin-right: 80px;
     margin-bottom: 60px;
   }

   .con{
     background-color: #009688;
     border-radius: 10px;
     padding: 5px;
     font-family: sans-serif;
     width: 130px;
     margin: 10px;
     font-family: 'Playfair Display', serif;
     font-family: 'Abril Fatface', cursive;
     font-family: 'Bree Serif', serif;
    }

   .fom{
     margin-left: 20px;
     margin-top: 20px;

   }
